/*
*

Fonts

*
*/
@font-face {
    font-family 'Roboto Condensed'
    src url(fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf) format('truetype')
}
@font-face {
    font-family 'Roboto Condensed'
    src url(fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf) format('truetype')
    font-weight 700
}
@font-face {
    font-family 'Roboto Condensed'
    src url(fonts/Roboto-Condensed/RobotoCondensed-Light.ttf) format('truetype')
    font-weight 300
}
@font-face {
    font-family 'Roboto Condensed'
    src url(fonts/Roboto-Condensed/RobotoCondensed-Italic.ttf) format('truetype')
    font-style italic
}
@font-face {
    font-family 'Roboto Condensed'
    src url(fonts/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf) format('truetype')
    font-weight 700
    font-style italic
}

@font-face {
    font-family 'Roboto Condensed'
    src url(fonts/Roboto-Condensed/RobotoCondensed-LightItalic.ttf) format('truetype')
    font-weight 300
    font-style italic
}