/*
*


Stylus Mixins


*
*/
/*
Mixin to generate the grid columns based on the number of columns desired.

Output Example for 10 columns:
col-10
	width 100%

col-9
	width 90%

col-8
	width 80%

...

col-1
	width 10%

and so on...
*/
generate_grid(columns)
	for n, x in 0..(columns - 1)
		.col_{(columns + 1) - (x+1)}
			width (round(100 - ((100 / columns) * x),6))%
			@media all and ( max-width: $mobile_break) {
				min-width 100%
				border none !important
				border-top 1px dashed rgb($normal_border_color) !important
				padding-left 0 !important
				padding-right 0 !important
				&:first-child {
					border none !important
				}
			}
		.col_offset_{(columns + 1) - (x+1)}
			margin-left (round(100 - ((100 / columns) * x),6))%
			@media all and ( max-width: $mobile_break) {
				margin-left 0
			}

header_button_offsets(side,offset)
	for n, x in 1..10
		&.buttons_{side}_{x+1}
			padding-{side} (((x+1)*60) + x + offset)px