/*
Sample Build/Watch command:
Watch:
stylus -u autoprefixer-stylus --watch src/style.styl --out dist/style.css

Watch Compressed:
stylus -u autoprefixer-stylus --watch src/style.styl --out dist/style.css --compress
*/

@import variables
@import mixins
@import fonts
@import 'node_modules/font-awesome-stylus/stylus/index'

/*
Global reset so we have a nice default base to work from.
*/
*
	padding 0
	margin 0
	line-height 1em
	box-sizing border-box
	-webkit-font-smoothing subpixel-antialiased
	transition-timing-function cubic-bezier(0.580, 0.000, 0.420, 1.000)

/*
*


The Grid


*
*/
.container {
	position relative
	margin 0 auto
	padding 60px ($grid_padding * 4) ($grid_padding * 3) ($grid_padding * 4)
	max-width $site_width
	.sidebar+& {
		padding-left (60 + ($grid_padding * 4))
	}
}

.row {
	position relative
	float left
	width 100%
	border-top 1px solid rgb($normal_border_color)
	&:first-child {
		border-top none
	}
	&.dashed_border {
		border-style none
		border-top-style dashed
	}
}

[class*="col_"] {
	position relative
	float left
	padding ($grid_padding * 3) ($grid_padding * 4) 0 ($grid_padding * 4)
	&:first-child {
		padding-left 0
	}
	&:last-child {
		padding-right 0
	}
}

.table_layout {
	position relative
	display table
	table-layout fixed
	border-collapse collapse
	width 100%
	&.auto {
		table-layout auto
	}
	.row {
		display table-row
		float none
		[class*="col_"] {
			display table-cell
			float none
		}
		.col_auto {
			width 100%
			white-space nowrap
			overflow hidden
		}
		.col_fit {
			width auto
			white-space nowrap
		}
	}
	&.overflow_visible {
		.col_auto {
			overflow visible
		}
	}
}

/* Mixin to generate the grids */
generate_grid($number_of_columns)

/*
*


Containers, Tables and Modules


*
*/
html
	font-size 10px

body
	background rgb($page_background)
	font-family 'Roboto Condensed', Arial, sans-serif
	font-size 1rem
	color rgb($content_color)

/*
Need to clean this up: quagmire of nested-ness for the various states
*/
.header {
	position fixed
	z-index 9999
	right 0
	left 0
	background rgb($light_background)
	border-bottom 1px solid rgb($normal_border_color)
	box-shadow 0 0 4px 0 rgba(0,0,0,0.15)
	.container {
		padding-top 0
		padding-bottom 0
	}
	.bttn_group {
		position absolute
		z-index 1
		top 0
		right 21px
		bottom -1px
		height 61px
		&.left {
			right auto
			left 20px
		}
		button.bttn
		div.bttn {
			float left
			position relative
			height 61px
			width 62px
			margin-bottom 0
			border-top none
			border-radius 0
			font-size 2rem
			.bttn_group {
				display block
				position absolute
				z-index -1
				top 100%
				right -1px
				left -1px
				bottom auto
				height auto
				width 62px
				opacity 1
				transform translateY(-110%)
				transition transform 0.35s, opacity 0.35s, box-shadow 0.35s
				.bttn:first-child {
					border-top 1px solid rgb($normal_border_color)
				}
			}
			span.hovertip.bottom {
				margin 6px 0 0 0
			}
			span.hovertip.right {
				margin 0 0 0 6px
			}
			&:hover
			&:active {
				&>.hovertip.bottom {
					opacity 1
					transform translateY(0) translateX(50%) scale(1)
				}
				&>.hovertip.right {
					opacity 1
					transform translateY(-50%) translateX(0) scale(1)
				}
			}
			&.secondary {
				border-color rgb($normal_border_color)
				&:hover
				&:active {
					color rgb($link_hover_color)
					box-shadow inset 0px 0px 10px 0 rgba($link_hover_color,0.35), inset 0 -6px 0 0 rgb($link_hover_color)
				}
			}
			&.dropdown_button {
				background rgb($light_background)
				cursor auto
				&:hover
				&:active {
					z-index auto
					background rgb(255,255,255)
					color rgb($content_color)
					box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
					.bttn_group {
						box-shadow 0 0 4px 0 rgba(0,0,0,0.15)
						opacity 1
						transform translateY(0%)
					}
				}
			}
			&.selected {
				background-color rgb(255,255,255)
				color rgb($content_color)
				box-shadow inset 0 -6px 0 0 rgba(255,255,255,0)
				cursor auto
				&:hover {
					z-index auto
					color rgb($content_color)
					box-shadow inset 0 -6px 0 0 rgba(255,255,255,0)
				}
			}
			&.success_hover {
				color rgb($success_color)
				&:hover
				&:active {
					background rgb($success_color)
					color rgb(255,255,255)
					box-shadow inset 0 -6px 0 0 rgb(255,255,255), inset 0px 0px 10px 0 rgba(0,0,0,0.25)
				}
			}
			&.warning_hover {
				color rgb($warning_color)
				&:hover
				&:active {
					background rgb($warning_color)
					color rgb(255,255,255)
					box-shadow inset 0 -6px 0 0 rgb(255,255,255), inset 0px 0px 10px 0 rgba(0,0,0,0.25)
				}
			}
			&.caution_hover {
				color rgb($caution_color)
				&:hover
				&:active {
					background rgb($caution_color)
					color rgb(255,255,255)
					box-shadow inset 0 -6px 0 0 rgb(255,255,255), inset 0px 0px 10px 0 rgba(0,0,0,0.25)
				}
			}
			&.link {
				color rgb($link_color)
				transition background 0.25s, color 0.25s, box-shadow 0.25s
			}
		}
	}
	.row {
		float right
		border-left 1px solid rgb($normal_border_color)
		border-right 1px solid rgb($normal_border_color)
		border-top none
		&.side_borders-solid {
			[class*="col_"] {
				border-left 1px solid rgb($normal_border_color)
				&:first-child {
					border none
				}
			}
		}
		// Mixins to create the various padding options needed for multiple buttons
		header_button_offsets('left',1)
		header_button_offsets('right',1)
		[class*="col_"] {
			height 60px
			padding 0 (($grid_padding * 2) + 35) 0 ($grid_padding * 2)
			background rgb(255,255,255)
			overflow visible
			transition box-shadow 0.25s, background 0.25s
			&.clickable {
				background rgb($light_background)
			}
			&.selected {
				background rgb(255,255,255)
				box-shadow inset 0 0 0 0 rgba(255,255,255,0), inset 0 0 0 0 rgba(255,255,255,0)
			}
			h3 {
				padding 0
			}
			p {
				padding 0
			}
			.dropdown_icon {
				transition transform 0.25s
			}
			span.hovertip.bottom {
				margin 6px 0 0 0
			}
			&:hover
			&:active {
				&>.hovertip.bottom {
					opacity 1
					transform translateY(0) translateX(50%) scale(1)
				}
			}
			.dropdown {
				display block
				position absolute
				z-index -1
				top 100%
				left -1px
				right -1px
				max-height 60vh
				overflow-y scroll
				background rgb(255,255,255)
				border 1px solid rgb($normal_border_color)
				border-radius $border_radius
				border-top-left-radius 0
				border-top-right-radius 0
				// Box shadow doesn't exist here, look for .clicked
				opacity 0
				transform translateY(-110%)
				transition transform 0.35s, box-shadow 0.35s, opacity 0.35s
				.link {
					color rgb($link_color)
				}
				.row {
					padding-left 0
					padding-right 0
					background rgb($light_background)
					border none
					border-top 1px solid rgb($normal_border_color)
					transition background 0.25s, box-shadow 0.25s
					&:first-child {
						border-top none
					}
					&.clickable {
						.link {
							color rgb($link_color)
						}
						.sub_content {
							// color rgba($sub_content_color,0)
							transition color 0.25s
						}
						&:hover
						&:active {
							box-shadow inset 10px 0 0 0 rgb($link_hover_color), inset 0px 0px 10px 0 rgba($link_hover_color,0.35)
							background rgb(255,255,255)
							.content_center_left {
								left 20px
							}
							.link {
								color rgb($link_hover_color)
							}
							.sub_content {
								color rgb($sub_content_color)
							}
						}
						[class*="col_"] {
							max-width 100%
							background none
							border-left none
							.if_selected {
								display none
							}
							&:hover
							&:active {
								box-shadow none
								background none
							}
						}
					}
					&.selected {
						[class*="col_"] {
							max-width 100%
							background rgb(255,255,255)
							border-left 10px solid rgb($content_color)
							.if_selected {
								display inline
							}
							.link {
								color rgb($content_color)
							}
							.sub_content {
								color rgb($sub_content_color)
								transition color 0.25s
							}
							&:hover
							&:active {
								box-shadow none
								cursor auto
							}
						}
					}
					&.selected.clickable {
						[class*="col_"] {
							max-width 100%
							background rgb(255,255,255)
							border-left 10px solid rgb($content_color)
							transition border 0.25s, box-shadow 0.25s
							.if_selected {
								display inline
							}
							.link {
								color rgb($link_color)
							}
							&:hover
							&:active {
								border-left-color rgb($link_hover_color)
								box-shadow inset 0px 0px 10px 0 rgba($link_hover_color,0.35)
								cursor pointer
								.link {
									color rgb($link_hover_color)
								}
								.content_center_left {
									left 10px
								}
							}
						}
					}
				}
			}
			&.clickable:hover
			&.clickable:active {
				background rgb(255,255,255)
				box-shadow inset 0 -6px 0 0 rgb($link_hover_color), inset 0px 0px 10px 0 rgba($link_hover_color,0.35)
				.link {
					color rgb($link_hover_color)
				}
			}
			&.clicked {
				background rgb(255,255,255)
				box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
				span.hovertip.bottom {
					margin 6px 0 0 0
				}
				&:hover
				&:active {
					background rgb(255,255,255)
					box-shadow inset 0 -6px 0 0 rgb($caution_color), inset 0px 0px 10px 0 rgba($caution_color,0.45)
					.link {
						color rgb($caution_color)
					}
					&>.hovertip.bottom {
						opacity 0
						transform translateY(-100%) translateX(50%) scale(0.0000001)
					}
				}
				.dropdown {
					box-shadow 0 0 4px 0 rgba(0,0,0,0.15)
					opacity 1
					transform translateY(0)
				}
				.dropdown_icon {
					transform rotate(540deg) 
				}
			}
			&.dropdown_hover:hover
			&.dropdown_hover:active {
				box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
				.link {
					color rgb($link_color)
				}
			}
		}
	}
	// Slightly alter these classes to fit with how we want them
	.content_center_left {
		left 10px
		transition left 0.25s
	}
	.content_center_right {
		right 10px
	}
}

.table_header {
	padding 0 0 ($grid_padding * 3) 0
	border-top 1px solid rgb($normal_border_color)
	color rgb($sub_content_color)
	&.sticky {
		background rgba(255,255,255,0) linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20px)
	}
	.row [class*="col_"] {
		padding ($grid_padding * 4) ($grid_padding * 2) 0 ($grid_padding * 2)
		&:first-child {
			padding-left 0
			p.superscript_title {
				left 0
			}
		}
		&:last-child {
			padding-right 0
			p.superscript_controls {
				right 0
			}
		}
		p {
			padding-bottom 7px
			&.superscript_controls
			&.superscript_title {
				position absolute
				top 1px
				padding 0
			}
			&.superscript_controls {
				right ($grid_padding * 2)
			}
			&.superscript_title {
				left ($grid_padding * 2)
			}
		}
	}
	.side_borders-solid [class*="col_"] {
		border-color rgb($normal_border_color)
	}
	[class*="col_"] {
		padding 0
	}
}

.table {
	border none
	.row {
		transition background 0.25s
		[class*="col_"] {
			padding ($grid_padding * 3) ($grid_padding * 2) 0 ($grid_padding * 2)
			&:first-child {
				padding-left 0
			}
			&:last-child {
				padding-right 0
			}
		}
		.link {
			color rgb($content_color)
		}
		.if_selected {
			display none
		}
		&.selected {
			.if_selected {
				display inline
			}
			[class*="col_"]:first-child {
				padding-left ($grid_padding * 3)
				box-shadow inset $grid_padding 0 0 0 rgb($content_color)
			}
			&.clickable {
				&:hover
				&:active {
					[class*="col_"]:first-child {
						p {
							padding-left 0
						}
					}
				}
			}
		}
		&.clickable {
			.link {
				color rgb($link_color)
			}
			[class*="col_"]:first-child {
				transition box-shadow 0.25s
				p {
					transition padding 0.25s, color 0.25s
				}
			}
			&:hover
			&:active {
				background rgba($mid_border_color,0.15)
				.link {
					color rgb($link_hover_color)
				}
				/*
				I don't like that I'm using a padding change for this but transform:translateX
				caused a full page repaint for reasons I'm currently unsure of.
				*/
				[class*="col_"]:first-child {
					box-shadow inset $grid_padding 0 0 0 rgb($link_hover_color)
					p {
						padding-left ($grid_padding * 3)
					}
				}
			}
		}
	}
	[class*="col_"] {
		padding 0
	}
}

.summary {
	.row {
		border-top 1px dashed rgb($normal_border_color)
		&:first-child {
			border-top none
		}
		[class*="col_"] {
			p {
				margin -9px 0 0 0
				font-size 1.2rem
				color rgb($sub_content_color)
			}
			h2 {
				padding-bottom 16px
				font-size 1.8rem
			}
		}
		[class*="col_"]:last-child {
			.background_icon {
				right 0
			}
		}
	}
	.background_icon {
		display none
		font-size 2.4em
		color rgb($content_color)
		&:last-of-type {
			font-size 4em
			opacity 0.1
		}
		&:first-of-type {
			font-size 2.4em
			opacity 1
		}
	}
	.content_center_right {
		right 15px
	}
}

.overview {
	padding 0 0 ($grid_padding * 3) 0
	[class*="col_"]
	[class*="col_"]:first-child
	[class*="col_"]:last-child {
		padding ($grid_padding * 3) ($grid_padding * 1.5) 0 ($grid_padding * 1.5)
		/*
		This makes the assumption that the overview will always be three units
		wide, this probably wont be the case when responsive.
		*/
		&:nth-child(3n) {
			padding-right 0
		}
		&:nth-child(3n+1) {
			padding-left 0
		}
		.module {
			float left
			width 100%
			border 1px solid rgb($normal_border_color)
			border-radius $border_radius
			box-shadow 0 0 4px rgba(0,0,0,0.075)
			transition border-color 0.25s, box-shadow 0.25s
			h2 {
				font-size 1.8rem
				small {
					font-size 0.65em
				}
			}
			.row {
				border-top 1px dashed rgb($normal_border_color)
				&:first-child {
					border-top none
				}
				[class*="col_"] {
					padding ($grid_padding * 3) ($grid_padding * 2) 0 ($grid_padding * 2)
				}
			}
			&.clickable:hover
			&.clickable:active {
				border 1px solid rgb($link_hover_color)
				box-shadow 0 0 4px rgba($link_hover_color,0.35), inset 0px 0px 10px 0 rgba($link_hover_color,0.35)
				.link {
					color rgb($link_hover_color)
				}
			}
		}
	}
	b.inline_bar {
		left 0
		border-left none
	}
	.badge {
		position absolute
		top -1px
		right -1px
		padding 1px 10px
		border-top-left-radius 0
		border-bottom-right-radius 0
	}
}

.micro_chart {
	&:hover
	&:active {
		z-index 2
	}
	.inline_bar {
		z-index 1
		top auto
		left auto
		border 1px solid #FFF
		border-bottom none
		overflow visible
		transition background 0.25s
		.hovertip.bottom {
			margin 6px 0 0 0
		}
		&:hover
		&:active {
			background rgba($mid_border_color,0.95)
			.hovertip.bottom {
				opacity 1
				transform translateY(0) translateX(50%) scale(1)
			}
		}
	}
}

.stickied {
	label.stuck {
		z-index 3
	}
	input[type="text"].stuck {
		background rgb(255,255,255)
		box-shadow 0 0 8px 0 rgba(0,0,0,0.15)
		border-bottom-left-radius $border_radius !important
		border-bottom-right-radius $border_radius !important
		&.has_icon {
			&+p.input_icon {
				z-index 2 !important
			}
		}
	}
}

/*
This might get messy since we're attempting to style/override the daterangepicker
which was made to be used with Bootstrap.
*/
.daterangepicker {
	display none
	width auto
	margin 6px 0 0 0
	border 1px solid rgb($mid_border_color)
	border-radius $border_radius
	box-shadow 0 0 8px 0 rgba(0,0,0,0.15)
	.daterangepicker_input {
		i {
			font-size 1.4rem
		}
		.calendar-time i {
			top 2px
		}
	}
	&::before {
		top -14px !important
		border-left 7px solid transparent !important
		border-right 7px solid transparent !important
		border-bottom 14px solid rgb($mid_border_color) !important
	}
	&::after {
		top -12px !important
		border-left 6px solid transparent !important
		border-right 6px solid transparent !important
		border-bottom 12px solid rgb(255,255,255) !important
	}
	.disabled {
		text-decoration line-through
		cursor not-allowed
		opacity 0.3
	}
	table {
		border-collapse collapse
		td
		th {
			padding 7px 9px
			border-radius 0
			// transition color 0.25s, background 0.25s
			&.available:hover {
				background rgb($link_hover_color)
				color rgb(255,255,255)
			}
			&.in-range {
				background rgb($light_background)
			}
			&.start-date
			&.end-date {
				background rgb($content_color)
				border-radius 0
				&.off {
					background-color rgb(255,255,255)
				}
			}
			&.off.available
			&.off.off.disabled {
				opacity 0.3
			}
		}
		th {
			cursor auto
			&.available {
				cursor pointer
			}
		}
	}
	.calendar-table {
		font-size 1.4em
	}
	.ranges {
		float none
		display block
		width 100%
		padding 0 8px
		.bttn {
			float right
			margin-bottom 0
			&:first-child {
				margin 0 0 0 5px
			}
		}
	}
}

/*
C3 Overrides
*/
.c3-grid line
	stroke rgb($normal_border_color)

.c3-tooltip {
	box-shadow 0 0 8px 0 rgba(0,0,0,0.15)
	th
	td {
		padding 9px
	}
	th {
		background rgb(255,255,255)
		color rgb($content_color)
	}
}

/*
*


Links, Buttonsand Badges


*
*/
a
a:visited
	color rgb($link_color)
	text-decoration none
	transition color 0.25s

a:hover
a:active
	color rgb($link_hover_color)

.bttn {
	display inline-block
	margin 0 0 ($grid_padding * 3) 0
	padding 7px 9px
	background rgb($link_background)
	border 1px solid rgba(0,0,0,0.15)
	border-radius $border_radius
	color rgb(255,255,255)
	font-size 1.4rem
	font-family 'Roboto Condensed', Arial, sans-serif
	cursor pointer
	outline 0
	transition background 0.25s, box-shadow 0.25s, color 0.25s
	line-height 1.5em
	span.icon_right_container {
		position relative
		display inline-block
		margin -8px -10px -8px 9px
		padding 7px 9px
		background rgba(0,0,0,0.15)
		border-left 1px solid rgba(0,0,0,0.1)
		border-top-right-radius $border_radius
		border-bottom-right-radius $border_radius
		line-height 1.5em
	}
	&:hover
	&:active {
		background rgb($link_hover_color)
		color rgb(255,255,255)
		box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
	}
	&.secondary {
		background rgb($light_background)
		color rgba($content_color,0.75)
		span.icon_right_container {
			background rgba(0,0,0,0.05)
		}
		&:hover
		&:active {
			background rgb(255,255,255)
			color rgb($link_hover_color)
			box-shadow inset 0px 0px 10px 0 rgba($link_hover_color,0.35)
		}
	}
	&.inactive {
		background rgb(255,255,255)
		color rgb($content_color)
		cursor auto
		&:hover
		&:active {
			color rgb($content_color)
			box-shadow none
		}
	}
	&.success_hover:hover
	&.success_hover:active {
		background rgb($success_color)
		color rgb(255,255,255)
		box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
	}
	&.caution_hover:hover
	&.caution_hover:active {
		background rgb($caution_color)
		color rgb(255,255,255)
		box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
	}
	&.warning_hover:hover
	&.warning_hover:active {
		background rgb($warning_color)
		color rgb(255,255,255)
		box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.15)
	}
}

p .bttn
	margin 0

.bttn_group {
	display inline-block
	font-size 0
	.bttn {
		position relative
		margin-right -1px
		border-radius 0
		&:first-child
		&:last-child {
			border-radius $border_radius
		}
		&:first-child {
			border-top-right-radius 0
			border-bottom-right-radius 0
		}
		&:last-child {
			border-top-left-radius 0
			border-bottom-left-radius 0
		}
		&:hover
		&:active {
			z-index 1
		}
	}
}

/*
For when we want to align/floor buttons to the bottom of a container, we remove
the bottom border-radius and border.
*/
.table_layout.align_bottom .bttn {
	margin-bottom 0
	border-bottom none
	border-bottom-left-radius 0 !important
	border-bottom-right-radius 0 !important
	span.icon_right_container {
		border-bottom-right-radius 0 !important
	}
}

.badge {
	display inline-block
	padding 5px 10px
	border 1px solid rgba(0,0,0,0.15)
	border-radius $border_radius
	text-shadow 1px 1px 0 rgba(0,0,0,0.15)
	&.success {
		background rgb($success_color)
		color #FFF
	}
	&.caution {
		background rgb($caution_color)
		color #FFF
	}
	&.warning {
		background rgb($warning_color)
		color #FFF
	}
	&.plain
	{
		background #FFF
		color rgb($sub_content_color)
		text-shadow none
	}
	.inline_bar {
		z-index 1
		left 0
		border-left none
	}
}

.badge_group {
	display inline-block
	.badge {
		position relative
		border-radius 0
		border-left-width 0
		&:first-child
		&:last-child {
			border-radius $border_radius
		}
		&:first-child {
			border-left-width 1px
			border-top-right-radius 0
			border-bottom-right-radius 0
		}
		&:last-child {
			border-top-left-radius 0
			border-bottom-left-radius 0
		}
	}
}

/*
*


Text and Content Styling (Defaults/Not in specific container)


*
*/
h1
h2
h3
p
li
	padding 0 0 ($grid_padding * 3) 0
	line-height 1.5em

h1
	font-size 2.6rem

h2 {
	font-size 2rem
	&.title {
		margin 0 0 0 0
		padding 0 0 14px 0
	}
}

h3 {
	font-size 1.6rem
	&.title {
		margin -3px 0 0 0
		padding 0 0 12px 0
	}
}

li
p
	font-size 1.4rem

.hovertip {
	position absolute
	z-index 9999
	padding 7px 9px
	background rgb($content_color)
	border-radius $border_radius
	font-size 1.4rem
	color rgb(255,255,255)
	opacity 0
	transition opacity 0.25s, transform 0.25s
	&:after {
		position absolute
		content " "
		height 0
		width 0
		border 6px solid transparent
	}
	&.bottom {
		top 100%
		right 50%
		transform translateY(-100%) translateX(50%) scale(0.0000001)
		&:after {
			bottom 100%
			right 50%
			border-bottom-width 9px
			border-bottom-color rgba($content_color,0.95)
			transform translateX(50%)
		}
	}
	&.right {
		top 50%
		left 100%
		transform translateY(-50%) translateX(-50%) scale(0.000001)
		&:after {
			top 50%
			right 100%
			border-right-width 9px
			border-right-color rgba($content_color,0.95)
			transform translateY(-50%)
		}
	}
	&.nowrap {
		overflow visible
	}
}

small
.small
	font-size 0.85em

.big
	font-size 2em

.normal
	font-weight normal

.bold
	font-weight bold

.light
	font-weight 300

.link
	color rgb($link_color)
	transition color 0.25s

.warning
	color rgb($warning_color)

.success
	color rgb($success_color)

.sub_content
	color rgb($sub_content_color)

.content
	color rgb($content_color)

.nowrap
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

.auto_text
	position absolute
	left 0
	right 0
	top 0
	line-height 1.5em

.content_center
	position absolute
	top 50%
	left 50%
	padding 0
	transform translateY(-50%) translateX(-50%)

.content_center_right
	position absolute
	top 50%
	right 0
	padding 0
	transform translateY(-50%)

.content_center_left
	position absolute
	top 50%
	left 0
	padding 0
	transform translateY(-50%)

hr
	display block
	width 100%
	margin 0
	padding 0 0 ($grid_padding * 3) 0
	border none
	border-top 1px solid rgb($mid_border_color)

/*
Look at data-uri-ing the image, see it it's worth it.
*/
.logo {
	background-image url("images/platform_360-logo-icon.png") !important
	background-repeat no-repeat !important
	background-position center center !important
	background-size 33% !important
}

.relative
	position relative

.square
	width 100%
	padding-top 100%

.no_border
	border none !important	

.dashed_border
	border-style dashed

/*
Used to combat the annoying whitespace that happens when you have gaps between
elements but want them to be flush (and want to maintain readable markup)
*/
.font_size_0
	font-size 0

.mid_border_color
	border-color rgb($mid_border_color)

.dark_border_color
	border-color rgb($dark_border_color)

.no_padding
	padding 0 !important

.no_padding-right
	padding-right 0 !important

.fill_container
	position absolute
	top 0
	right 0
	bottom 0
	left 0

.clickable
	cursor pointer

b.inline_bar {
	position absolute
	z-index -1
	top 0
	bottom 0
	left -1px
	display block
	background rgba($mid_border_color,0.15)
	border-left 1px solid rgb($normal_border_color)
}

.background_icon
	z-index -1
	font-size 3em
	color rgba(0,0,0,0.075)

.align_left
	text-align left

.align_right
	text-align right

.align_center
	text-align center

.align_bottom [class*="col_"]
	vertical-align bottom

.align_middle [class*="col_"]
	vertical-align middle

.align_top [class*="col_"]
	vertical-align top

.top_spacing
	margin-top 15px

.margin_auto
	margin 0 auto

.overflow_visible
	overflow visible

.inline_block
	display inline-block

.side_borders-dashed {
	[class*="col_"] {
		border-right 1px dashed rgb($normal_border_color)
		&:last-child {
			border none
		}
	}
}

.side_borders-solid {
	[class*="col_"] {
		border-right 1px solid rgb($normal_border_color)
		&:last-child {
			border none
		}
	}
}

.cursor_text
	cursor text

.cursor_pointer
	cursor pointer

/*
*


Input Styling


*
*/
label {
	display inline-block
	padding 0 0 15px 0
	font-size 1.4rem
	line-height 1.5em
	font-weight bold
	cursor text
	&+input[type="text"] {
		margin-top -10px
	}
	&+.checkbox_container
	&+.radio_container {
		margin-top -10px
	}
	&.input_label {
		position absolute
		right 5px
		bottom 7px
		padding 0
		&.left_col {
			right 25px
		}
	}
}

input[type='text']
textarea {
	display inline-block
	margin 0 0 15px 0
	padding 7px 9px
	width 100%
	background rgba(255,255,255,0)
	border 1px solid rgb($mid_border_color)
	border-radius $border_radius
	font-family 'Roboto Condensed', Arial, sans-serif
	font-size 1.4rem
	line-height 1.5em
	transition border 0.25s, box-shadow 0.25s
	&:hover {
		outline none
		border-color rgb($link_color)
		box-shadow 0 0 3px rgba($link_color,.25)
	}
	&:focus {
		outline none
		border-color rgb($link_hover_color)
		box-shadow 0 0 8px rgba($link_hover_color,.45)
	}
	&.has_icon {
		padding-left 35px
		&+p.input_icon {
			position absolute
			z-index -1
			left 30px
			bottom 4px
			padding 0
			font-size 2em
			color rgb($sub_content_color)
			transition color 0.25s
		}
		&.left_col+p.input_icon {
			left 10px
		}
		&.not_required:valid+p.input_icon {
			color rgb($sub_content_color)
		}
		&:hover+p.input_icon
		&:valid:hover+p.input_icon {
			color rgb($link_color)
		}
		&:focus+p.input_icon
		&:valid:focus+p.input_icon {
			color rgb($link_hover_color)
		}
		&:valid+p.input_icon {
			color rgb($success_color)
		}
	}
}

/*
For when we want to align/floor a text input to the bottom of a container
*/
.table_layout.align_bottom input[type="text"] {
	position relative
	margin-bottom -1px
	border-bottom-left-radius 0
	border-bottom-right-radius 0
	span.icon_right_container {
		border-bottom-right-radius 0 !important
	}
	&:hover
	&:focus {
		z-index 2
	}
}
	
textarea {
    resize vertical
}

input[type="checkbox"]
input[type="radio"] {
	display none
	&+label {
		cursor pointer
		display inline-block
		width auto
		padding 7px 9px
		margin 0 4px 4px 0
		background rgb($light_background)
		border 1px solid rgba(0,0,0,0.15)
		border-radius $border_radius
		color #777
		font-weight normal
		transition background 0.35s, border 0.25s, box-shadow 0.25s
		&:hover
		&:active {
			background rgb(255,255,255)
			color rgb($success_color)
			box-shadow inset 0px 0px 10px 0 rgba($success_color,0.25)
		}
	}
	&:checked+label {
		background rgb($success_color)
		color #FFF
		&:hover
		&:active {
			box-shadow inset 0px 0px 10px 0 rgba(0,0,0,0.25)
		}
	}
}
	
input[type="checkbox"]:checked+label:hover
	text-decoration line-through

.checkbox_container
	padding 0 0 11px 0

.radio_container {
	padding 0 0 11px 0
	input[type="radio"] {
		&+label {
			position relative
			margin-right -1px
			border-radius 0
			&:first-of-type
			&:last-of-type {
				border-radius $border_radius
			}
			&:first-of-type {
				border-top-right-radius 0
				border-bottom-right-radius 0
			}
			&:last-of-type {
				border-top-left-radius 0
				border-bottom-left-radius 0
			}
		}
		&:checked+label {
			z-index 1
			cursor default
			&:hover
			&:active {
				box-shadow none
			}
		}
	}
	&.nav_radio {
		input[type="radio"] {
			&+label {
				font-size 1.2rem
				&:hover
				&:active {
					background rgb(255,255,255)
					color rgb($link_hover_color)
					box-shadow inset 0px 0px 10px 0 rgba($link_hover_color,0.35)
				}
			}
			&:checked+label {
				z-index 1
				padding 9px 9px
				background rgb($content_color)
				border-radius $border_radius
				cursor default
				&:hover
				&:active {
					color rgb(255,255,255)
					box-shadow none
				}
			}
		}
	}
}

/*
This is more or less a placeholder, may or may not use this input type initially
*/
input[type="range"] {
	display inline-block
	margin 0 0 15px 0
	padding 7px 9px
	width 100%
}

@media all and ( max-width: $mobile_break) {
	.mobile_hidden {
		display none
	}
}